body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
    min-height: 50rem;
    padding-top: 7rem;
}

div.welcome {
	height: 100%;
	text-align: center;
}

div.welcome img {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 300px;
}

input[readonly].flatpickr {
    background-color: transparent;
}
